{% extends '../index_master.html' %}

{% block content %}
  <div class="right_col" role="main">
    <h1>Listar Usuarios</h1>
        <table class="table table-sm">
          <thead>
            <tr>
              <th>N°</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Fecha de Nacimiento</th>
              <th>Fecha de Registro</th>
            </tr>
          </thead>
          <tbody>
            {% for  u in usuarios %}
              <tr>
                <th>{{ u.id }}</th>
                <th>{{ u.nombre }}</th>
                <th>{{ u.apellido }}</th>
                <th>{{ u.correo }}</th>
                <th>{{ u.telefono }}</th>
                <th>{{ u.f_nac }}</th>
                <th>{{ u.f_registro }}</th>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
{% endblock %}
