{% extends '../index_master.html' %}

{% block content %}
  <div class="right_col" role="main">
    <h1>Listar Usuarios</h1>
    <div>
      <form action="">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Fechas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>hola</th>
              <th>hola</th>
              <th>hola</th>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
